@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
/* HEADER */
.topbar{
    background:#0a4d3c;
    color:#fff;

    height:60px;          /* avant environ 80-100px */
    padding:0 24px;

    display:flex;
    align-items:center;
    justify-content:space-between;

    position:sticky;
    top:0;
    z-index:1000;
}
.logo{
    font-size:18px;
    font-weight:700;
    text-decoration:none;
    color:#fff;
}
.nav{
    display:flex;
    gap:10px;
}

.nav a{
    padding:8px 16px;
    font-size:15px;
    border-radius:6px;
}

.topbar{
    height:52px;
    padding:0 20px;
}